@charset "UTF-8";

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FCFCFC;
    max-width: 1440px;
    margin:0 auto;
}

header {
    font-size: 1.25rem;
    letter-spacing: 1px;
    padding: 3.437rem 0 1.25rem;
}

.title {
    float:left;
}

.search {
    float:right;
}

.search input {
    border-radius: 5px;
    border: 1px solid #eaeaea;
    padding: 8px 15px;
    font-size: 14px;
}

.search button {
    border-radius: 5px;
    border: 1px solid #eaeaea;
    padding: 8px 15px;
    font-size: 14px;
    background-color: #4ba6c3;
    color: #fff;
}

.profile-grid {
    display: flex;
    flex-wrap: wrap;
}

.profile {
    box-sizing: border-box;
    border: lightgray 2px solid;
    width: 31%;
    padding: 1.625rem;
    margin: .9375rem 3.5% .9375rem 0;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.profile:nth-child(3n) {
    margin-right: 0;
}

.pic {
    width: 7.75rem;
    margin-right: 1.25rem;
    border-radius: 50%;
}

.info {
    color: #888;
    word-break: break-all;
}

.name {
    color:black;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.125rem;
    padding-bottom: 0.75rem;
}

.email {
    font-size: 1rem;
    line-height: 1rem;
    padding-bottom: 0.625rem;
}

.city {
    font-size: 1rem;
    line-height: 1rem;
}

.more {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 1.5rem;
}

.more:last-child {
    margin-bottom: 0;
}

/* light box */

.shadow-background {
    background-color: rgba(0, 0 , 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay{
    position:fixed;
    top: 0;right: 0;left: 0;bottom: 0;
    background:rgba(0,0,0,0.8);
}
.lightbox{
    position:relative;
    /*top: 0;right: 0;left: 0;bottom: 0;*/
    margin:9.25rem auto;
    padding: 3.125rem 3rem;
    z-index:1;
    background-color: white;
    border: lightgray 2px solid;
    border-radius: .5rem;
    box-sizing: border-box;
    width: 28.375rem;
    /*height: 33.75rem;*/
    text-align: center;
}

.lightbox .close {
    float: right;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 3rem;
    cursor: pointer;
}

.lightbox img {
    margin-bottom: 1rem;
    border-radius: 50%;
    width: 10.875rem;
}

.seperate-line {
    width:100%;
    border-bottom: #ccc 1px solid;
    padding-top: 2.4375rem;
    margin-bottom: 2.4375rem;
}


/* helper class*/

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}